@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .tablediv {
        margin: 30px 40px 0px 0px;
    }

    .ui-sghref > .glyphicon.glyphicon-triangle-right {
        padding-top: 8px;
    }

    .ui-sghref > .glyphicon.glyphicon-triangle-bottom {
        padding-top: 8px;
    }
</style>
<script>
    $(function () {
        gridList();
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PC_ReportManage/QAOrderReport/GetGridJson?QADetailID",
            height: $(window).height() - 120,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '物料编码', name: 'ItemCode', width: 70, align: 'left' },
                { label: '物料名称', name: 'ItemName', width: 280, align: 'left' },
                { label: '生产厂家', name: 'Factory', width: 230, align: 'left' },
                { label: '规格', name: 'Spec', width: 100, align: 'left' },
                { label: '批号', name: 'Lot', width: 80, align: 'left' },
                { label: "应检数量", name: "Qty", width: 50, align: 'left' },
                { label: "取样数量", name: "PickedQty", width: 50, align: 'left' },
                { label: "还样数量", name: "ReturnQty", width: 50, align: 'left' },
                { label: "计量单位", name: "ItemUnitText", width: 50, align: 'left' },
                { label: '失效日期', name: 'OverdueDate', width: 65, align: 'left', formatter: "date", formatoptions: { newformat: 'Y-m-d' } },
                { label: '质检日期', name: 'PickDate', width: 65, align: 'left', formatter: "date", formatoptions: { newformat: 'Y-m-d' } },
                { label: '质检结果', name: 'QAResultName', width: 60, align: 'center' },
                { label: 'ERP仓库', name: 'ERPHouseName', width: 70, align: 'left' },
                { label: "取样质检", name: "IsAppearQA", width: 50, align: 'center', formatter: function (cellvalue) { return cellvalue == "false" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: "破坏性", name: "IsBroken", width: 50, align: 'center', formatter: function (cellvalue) { return cellvalue == "true" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                { label: "需还样", name: "IsNeedBack", width: 50, align: 'center', formatter: function (cellvalue) { return cellvalue == "true" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                //{ label: '供应商', name: 'SupplierName', width: 230, align: 'left' },
                { label: '来源单号', name: 'RefOrderCode', width: 120, align: 'left' },
            ],
            pager: "#gridPager",
            sortname: 'RefOrderCode desc',
            viewrecords: true
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid', { fromServer: true, page: 1 });
        });
    }

    $(window).bind('resize', function () {
        $("#gridList").setGridWidth($(window).width());
        $("#gridList").setGridHeight($(window).height() - 126);
    });
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="单据编码 / 物料编码 / 物料名称 / 批号" style="width: 250px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
