@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();

        if (!!keyValue) {
            $.ajax({
                url: "/PC_InventoryManage/OffLineDown/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.checkLogin(data);
                    $("#form1").formSerialize(data);
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                }
            });
        }
    });

    function initControl() {
        $("#State").bindSelect({
            url: "/SystemManage/ItemsData/GetDicList?entityName=T_OffLineDown&fieldName=State",
            id: "F_ItemCode",
            text: "F_ItemName"
        });
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">容器条码</th>
                <td class="formValue">
                    <input id="BarCode" name="BarCode" type="text" readonly="readonly" class="form-control required" placeholder="请输入容器条码" />
                </td>
                <th class="formTitle">标签条码</th>
                <td class="formValue">
                    <input id="ItemBarCode" name="ItemBarCode" type="text" readonly="readonly" class="form-control" placeholder="请输入标签条码" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">应出数量</th>
                <td class="formValue">
                    <input id="Qty" name="Qty" type="text" class="form-control" placeholder="请输入应出数量" />
                </td>
                <th class="formTitle">上传时间</th>
                <td class="formValue">
                    <input id="F_CreatorTime" name="F_CreatorTime" type="text" readonly="readonly" class="form-control required" placeholder="请输入上传时间" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">离线状态</th>
                <td class="formValue">
                    <select id="State" name="State" class="form-control required">
                        <option value="">==请选择==</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">创建人员</th>
                <td class="formValue">
                    <input id="CreatorUserName" name="CreatorUserName" type="text" class="form-control" />
                </td>
                <th class="formTitle">创建时间</th>
                <td class="formValue">
                    <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">修改人员</th>
                <td class="formValue">
                    <input id="ModifyUserName" name="ModifyUserName" type="text" class="form-control" />
                </td>
                <th class="formTitle">修改时间</th>
                <td class="formValue">
                    <input id="F_LastModifyTime" name="F_LastModifyTime" type="text" class="form-control" />
                </td>
            </tr>
        </table>
    </div>
</form>
