@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/PC_QAManage/QAGet/GetQAResult",
                data: { QADetailID: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }

        $.hideBaseData();
    });

    function initControl() {
        $("#QAResult").bindSelect({
            url: "/SystemManage/ItemsData/GetDicList?entityName=T_QAResult&fieldName=QAResult",
            id: "F_ItemCode",
            text: "F_ItemName"
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var data = $("#form1").formSerialize();
        data["QADetailID"] = keyValue;
        $.submitForm({
            url: "/PC_QAManage/QAGet/QAResultSubmit",
            param: data,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            },
            error: function (data) {
                $.modalMsg(data.message, data.state);
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">物料编码</th>
                <td class="formValue">
                    <input id="ItemCode" name="ItemCode" type="text" readonly="readonly" class="form-control required" placeholder="请输入物料编码" />
                </td>
                <th class="formTitle">物料名称</th>
                <td class="formValue">
                    <input id="ItemName" name="ItemName" type="text"  readonly="readonly" class="form-control required" placeholder="请输入物料名称" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">批号</th>
                <td class="formValue">
                    <input id="Lot" name="Lot" type="text"  readonly="readonly" class="form-control" placeholder="请输入批号" />
                </td>
                <th class="formTitle">质检结果</th>
                <td class="formValue">
                    <select id="QAResult" name="QAResult" class="form-control required">
                        <option value="">==请选择==</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">备注</th>
                <td class="formValue" colspan="3">
                    <textarea id="Remark" name="Remark" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
        </table>
    </div>
</form>
