@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<style>
    .tablediv {
        margin: 30px 40px 0px 0px;
    }

    .ui-sghref > .glyphicon.glyphicon-triangle-right {
        padding-top: 8px;
    }

    .ui-sghref > .glyphicon.glyphicon-triangle-bottom {
        padding-top: 8px;
    }
</style>

<script>
    var QAID = $.request("keyvalue");
    $(function () {
        gridList();
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PC_QAManage/QAGet/GetGridJsonDetails?QAID=" + QAID,
            height: $(window).height() - 126,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: "质检单ID", name: "QAID", hidden: true },
                { label: "项次", name: "SEQ", width: 30, align: 'left' },
                { label: '物料编码', name: 'ItemCode', width: 55, align: 'left' },
                { label: '物料名称', name: 'ItemName', width: 170, align: 'left' },
                { label: '生产厂家', name: 'Factory', width: 170, align: 'left' },
                //{ label: '供应商名称', name: 'SupplierName', width: 150, align: 'left' },
                { label: '规格', name: 'Spec', width: 80, align: 'left' },
                { label: '批号', name: 'Lot', width: 60, align: 'left' },
                { label: "计量单位", name: "ItemUnitText", width: 55, align: 'left' },
                { label: '失效日期', name: 'OverdueDate', width: 60, align: 'left', formatter: "date", formatoptions: { newformat: 'Y-m-d' } },
                { label: "破坏质检", name: "IsBroken", width: 55, align: 'center', formatter: function (cellvalue) { return cellvalue == "true" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; }},
                { label: "外观质检", name: "IsAppearQA", width: 55, align: 'center', formatter: function (cellvalue) { return cellvalue == "true" ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>"; } },
                {
                    label: "抽样物料数量", name: "SampleSumNum", width: 75, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.IsAppearQA == "true") return "不涉及"; //外观质检
                        else return rowObject.SampleSumNum;
                    } },
                {
                    label: "抽样标签个数", name: "SampleSumCnt", width: 75, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.IsAppearQA == "false") return "不涉及"; //外观质检
                        else return rowObject.SampleSumCnt;
                    } },
                {
                    label: '指定库存', name: '', width: 55, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var detail = "";
                        if (rowObject.State == "New" || rowObject.State == "Waved") {
                            if (rowObject.IsAppearQA == "false") {
                                detail = "<div  onclick=\"btn_HandQADetail(\'" + rowObject.F_Id + "\')\" title='指定库存' class='fa fa-th' style='color:#336699;cursor:pointer;'></div>";
                            }
                            else if (rowObject.IsAppearQA == "true") {
                                detail = "<div  onclick=\"btn_HandQADetailByCnt(\'" + rowObject.F_Id + "\')\" title='指定库存-标签个数' class='fa fa-th' style='color:#336699;cursor:pointer;'></div>";
                            }
                        }
                        else {
                            detail = "<div  title='已执行' class='fa fa-th' style='font-size:13px;color:#aaa;cursor:not-allowed;'></div>";
                        }
                        return detail;
                    },
                },
                {
                    label: '取样详情', name: '', width: 55, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var detail = "";
                        if (rowObject.IsAppearQA == "false") {
                            detail = "<div  onclick=\"btn_QADetail(\'" + rowObject.F_Id + "\', \'" + rowObject.QAID + "\')\" title='取样详情' class='fa fa-list' style='color:#336699;cursor:pointer;'></div>";
                        }
                        else if (rowObject.IsAppearQA == "true") {
                            detail = "<div  onclick=\"btn_QADetailByCnt(\'" + rowObject.F_Id + "\', \'" + rowObject.QAID + "\')\" title='取样详情' class='fa fa-list' style='color:#336699;cursor:pointer;'></div>";
                        }
                        return detail;
                    },
                },
                {
                    label: '结果录入', name: '', width: 55, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var detail = "";
                        if (rowObject.IsCanSetResult == "true") {
                            detail = "<div  onclick=\"btn_QAResultSet(\'" + rowObject.F_Id + "\')\" title='结果录入' class='fa fa-unlock' style='color:#336699;cursor:pointer;'></div>";
                        } else {
                            detail = "<div  title='' class='fa fa-lock' style='font-size:13px;color:#aaa;cursor:not-allowed;'></div>";
                        }
                        return detail;
                    }
                },
                {
                    label: '质检结果', name: 'QAResult', width: 55, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.QAResult == "" || rowObject.QAResult == "WaitCheck") return "";
                        else return rowObject.QAResultName;
                    }
                },
                {
                    label: '结果来源', name: 'ResultState', width: 55, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.ResultState == "" || rowObject.ResultState == "New") return "";
                        else return rowObject.ResultStateName;
                    }
                },
                { label: "状态", name: "State", width: 45, align: 'center', formatter: function (cellvalue, options, rowObject) { return rowObject.StateName; } },
                {
                    label: '出库地点', name: 'StationCode', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.StationCode == "StationOut_Normal") { //出库站台正常
                            return '<span class=\"label label-success\">' + rowObject.StationName + '</span>';
                        } else if (rowObject.StationCode == "StationOut_BigItem") { //出库站台(大件)
                            return '<span class=\"label label-info\">' + rowObject.StationName + '</span>';
                        }
                        else {
                            return cellvalue;
                        }
                    }
                },
            ],
            pager: "#gridPager",
            sortname: 'SEQ asc',
            viewrecords: true,
            rowNum: 15
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid', { fromServer: true, page: 1 });
        });
    }

    $(window).bind('resize', function () {
        $("#gridList").setGridWidth($(window).width());
        $("#gridList").setGridHeight($(window).height() - 126);
    });

    //指定库存（取样质检，数量）
    function btn_HandQADetail(detailID) {
        $.modalFixHightOpen({
            id: "Details",
            title: "指定库存",
            url: "/PC_QARecordManage/QARecord/index?keyValue=" + detailID,
            width: "1480px",
            height: "850px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm(function () {
                    $("#gridList").trigger("reloadGrid");
                });
            }
        });
    }

    //指定库存（外观质检，标签个数）
    function btn_HandQADetailByCnt(detailID) {
        $.modalFixHightOpen({
            id: "Details",
            title: "指定库存",
            url: "/PC_QARecordManage/QARecord/IndexByCnt?keyValue=" + detailID,
            width: "1200px",
            height: "680px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm(function () {
                    $("#gridList").trigger("reloadGrid");
                });
            }
        });
    }

    //取样详情（取样质检，数量）
    function btn_QADetail(detailID, qAID) {
        $.modalFixHightOpen({
            id: "Form",
            title: "取样详情",
            url: "/PC_QARecordManage/QARecord/QADetail?qaDetailID=" + detailID + "&qAID=" + qAID,
            width: "1480px",
            height: "850px",
        });
    }

    //取样详情（外观质检，标签个数）
    function btn_QADetailByCnt(detailID, qAID) {
        $.modalFixHightOpen({
            id: "Form",
            title: "取样详情",
            url: "/PC_QARecordManage/QARecord/QADetailByCnt?qaDetailID=" + detailID + "&qAID=" + qAID,
            width: "1480px",
            height: "850px",
        });
    }

    //设置质检结果
    function btn_QAResultSet(detailID) {
        $.modalOpen({
            id: "setForm",
            title: "结果录入",
            url: "/PC_QAManage/QAGet/QAResultSet?keyValue=" + detailID,
            width: "650px",
            height: "380px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm(function () {
                    $("#gridList").trigger("reloadGrid");
                });
            }
        });
    }


    //明细维护
    function btn_add() {
        $.modalFixHightOpen({
            id: "Form",
            title: "明细维护",
            url: "/PC_QAManage/QAGet/TransferForm?QAID=" + QAID,
            width: "1400px",
            height: "800px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm(function () {
                    $("#gridList").trigger("reloadGrid");
                });
            }
        });
    }


    function btn_delete() {
        var rowid = $("#gridList").jqGridRowValue().F_Id;
        if (rowid == null) {
            $.modalMsg("请选择数据", "warning");
            return;
        }
        $.deleteForm({
            url: "/PC_QAManage/QAGet/DeleteFormDetail",
            param: { keyValue: rowid },
            success: function () {
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add-detail" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>明细维护</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit-detail" authorize="yes" onclick="btn_add()"><i class="fa fa-pencil-square-o"></i>修改明细</a></li>
                <li><a id="NF-delete-detail" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除明细</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="物料名称 / 物料编号" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
