@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/PC_BaseDataManage/ERPWarehouse/GetGridJson",
            height: $(window).height() - 126,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '仓库名称', name: 'ERPHouseName', width: 150, align: 'left' },
                { label: '仓库编码', name: 'ERPHouseCode', width: 150, align: 'left' },
                { label: '备注', name: 'Remark', width: 150, align: 'left' }
            ],
            pager: "#gridPager",
            sortname: 'ERPHouseCode asc',
            viewrecords: true,
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid', { fromServer: true, page: 1 });
        });
    }

    $(window).bind('resize', function () {
        $("#gridList").setGridWidth($(window).width());
        $("#gridList").setGridHeight($(window).height() - 126);
    });

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增仓库",
            url: "/PC_BaseDataManage/ERPWarehouse/Form",
            width: "550px",
            height: "380px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改仓库",
            url: "/PC_BaseDataManage/ERPWarehouse/Form?keyValue=" + keyValue,
            width: "600px",
            height: "480px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btn_delete() {
        $.deleteForm({
            url: "/PC_BaseDataManage/ERPWarehouse/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看仓库",
            url: "/PC_BaseDataManage/ERPWarehouse/Details?keyValue=" + keyValue,
            width: "600px",
            height: "530px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建仓库</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改仓库</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除仓库</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看仓库</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="仓库名称 / 仓库编码" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
