@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style>

    .ui-sghref > .glyphicon.glyphicon-triangle-right {
        padding-top: 8px;
    }

    .ui-sghref > .glyphicon.glyphicon-triangle-bottom {
        padding-top: 8px;
    }

    .cbox.checkbox {
        padding-top: 8px;
    }

    .form-control {
        height: 20px;
        padding: 3px 6px;
        margin: 2px 0px;
        width: 80%;
    }

    select[multiple], select[size] {
        height: 20px;
    }
</style>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/js/datepicker/WdatePicker.js"></script>
<link href="~/Content/js/datepicker/skin/whyGreen/datepicker.css" rel="stylesheet" />
<script src="~/Content/js/select2/select2.min.js"></script>
<link href="~/Content/js/select2/select2.min.css" rel="stylesheet" />
<script>
    var selectRowLeft = [];
    var keyValue = $.request("OutBoundID");
    $(function () {
        $('#layout').layout({
            north: { size: 400, resizable: false },
            center: { size: 40, resizable: false },
            south: { size: 240, resizable: false }
        });

        gridList_Bottom();

        $("#layoutChild").layout();
        gridList_Top('0');
        treeView();
        $($("#kindTree>div>div>ul>li>div")[0]).trigger("click");

        //穿梭添加
        $("#toright").bind("click", function () {
            var leftSelectRows = $("#gridList_Big").jqGridTransferRowValue();
            $.each(leftSelectRows, function (i, n) {
                n.SEQ = GenSEQ();
                $("#gridList_Right").addRowData(n.F_Id, n, "last");
                $("#gridList_Big").delRowData(n.F_Id);
                var select = $("#gridList_Right tbody tr[id='" + n.F_Id + "'] select");
                $(select).select2();
            });
        });

        //穿梭移除
        $("#toleft").bind("click", function () {
            var rightSelectRows = $("#gridList_Right").jqGridTransferRowValue();
            $.each(rightSelectRows, function (i, n) {
                $("#gridList_Big").addRowData(n.F_Id, n, "last");
                $("#gridList_Right").delRowData(n.F_Id);
            });
        });

        $("#btn_search").click(function () {
            var kindID = $("#kindTree").getCurrentNode().id;
            $("#gridList_Big").jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), kindID: kindID },
            }).trigger('reloadGrid', { fromServer: true, page: 1 });
        });
    })

    //初始化树
    function treeView() {
        $("#kindTree").treeview({
            url: "/PC_BaseDataManage/Item/GetTreeJson",
            onnodeclick: function (item) {
                //$("#txt_keyword").val('');
                $('#btn_search').trigger("click");
            }
        });
    }

    //移除或新增
    function GenSEQ() {
        var rightRows = $("#gridList_Right").jqGrid('getRowData');
        var SEQArray = [];
        var first = {};
        first.SEQ = 0;
        SEQArray.push(first);
        $.each(rightRows, function (i, n) {
            var cell = {};
            cell.SEQ = parseInt(n.SEQ);
            SEQArray.push(cell);
        });

        SEQArray = SEQArray.sort(function (a, b) { return a.SEQ - b.SEQ });

        var lastSEQ = 0;
        for (var i = 0; i < SEQArray.length - 1; i++) {
            if (SEQArray[i].SEQ + 1 != SEQArray[i + 1].SEQ) {
                lastSEQ = SEQArray[i].SEQ + 1;
                return lastSEQ;
            }
        }
        if (lastSEQ == 0) {
            if (SEQArray.length == 0) {
                lastSEQ = 1;
            }
            else {
                lastSEQ = SEQArray[SEQArray.length - 1].SEQ + 1;
            }
        }
        return lastSEQ;
    }


    function gridList_Bottom() {
        //右侧->
        var $gridList_Right = $("#gridList_Right");
        $gridList_Right.dataGrid({
            url: "/PC_OutBoundManage/OutBoundDetail/GetItemSelectGridJson?OutBoundID=" + keyValue,
            height: 200,// $(window).height() - 78,
            colModel: [
                { label: "物料+批号", name: "F_Id", hidden: true, key: true },
                { label: "物料ID", name: "ItemID", hidden: true },
                { label: "单位数量", name: "UnitQty", hidden: true },
                { label: '出库单ID', name: 'OutBoundID', hidden: true },
                { label: '项次', name: 'SEQ', width: 40, align: 'left', sorttype: "float" },
                { label: '物料编码', name: 'ItemCode', width: 60, align: 'left' },
                { label: '物料名称', name: 'ItemName', width: 280, align: 'left' },
                { label: '生产厂家', name: 'Factory', width: 240, align: 'left' },
                { label: '规格', name: 'Spec', width: 110, align: 'left' },
                { label: '批号', name: 'Lot', width: 80, align: 'left' },
                { label: '总库存', name: 'AllQty', width: 60, align: 'left', hidden: true, sortable: false },
                { label: '可用库存', name: 'CanUseQty', width: 60, align: 'left', hidden: true, sortable: false },
                {
                    label: "出库数量", name: "Qty", width: 140, align: 'left', editable: true, editoptions:
                    {
                        size: 1, width: 50,
                        //type: "Number",
                        class: "form-control required",
                        dataEvents: [
                            {
                                type: "blur", data: this, fn: function (e) {
                                    var id = $(e.target).parents("tr").attr("id");
                                    var CanUseQty = parseFloat($gridList_Right.getRowData(id).CanUseQty);

                                    var val = $(e.target).val();

                                    if (!$.isNumeric(val)) { //不是数字
                                        $(e.target).css("border-color", "red");
                                        $(e.target).attr("err", true);
                                        return;
                                    }
                                    var valNum = parseFloat(val);
                                    if (valNum <= 0) {  // 非正数
                                        $(e.target).css("border-color", "red");
                                        $(e.target).attr("err", true);
                                        return;
                                    }

                                    if (CanUseQty < val) { //超出可用库存
                                        $(e.target).css("border-color", "red");
                                        $(e.target).attr("err", true);
                                        return;
                                    }


                                    $(e.target).css("border-color", "");
                                    $(e.target).attr("err", false);
                                }
                            },
                            {
                                type: "focus", data: this, fn: function (e) {
                                    var id = $(e.target).parents("tr").attr("id");
                                    var CanUseQty = parseFloat($gridList_Right.getRowData(id).CanUseQty);//可用数量
                                    var UnitQty = parseFloat($gridList_Right.getRowData(id).UnitQty);//单位数量
                                    $(e.target).attr("placeholder", "可用/单位:" + CanUseQty + "/" + UnitQty);
                                    //$(e.target).attr("CanUseQty", CanUseQty);
                                    //$(e.target).attr("placeholder", unitQty + "的倍数");
                                }
                            }
                        ]
                    }
                },
                { label: "计量单位", name: "ItemUnitText", width: 55, align: 'left' },
                {
                    label: '失效日期', name: 'OverdueDate', width: 65, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) return cellvalue.replace("00:00:00", "");
                        else return "";
                    } },
                { label: '容器大类', name: 'ContainerKindName', width: 55, align: 'left', sortname: 'ContainerKind', sortable: false },
                {
                    label: '入库单编码', name: 'SourceInOrderCode', width: 80, align: 'left',
                    formatter: function (cellvalue, options, rowObject) { var html = GetInOrderList(cellvalue, options, rowObject); return html; }
                },
            ],
            multiselect: true,
            styleUI: 'Bootstrap',
            rownumbers: false,
            sortable: false,
            unwritten: false,
            //shrinkToFit: false,
            beforeSelectRow: function (rowid, e) {
                //还原其它行的编辑状态
                var rows = $gridList_Right.jqGrid("getRowData");

                //检查验证.
                var isHasErr = false;
                $.each(rows, function (i, n) {
                    if (n.F_Id != rowid) {
                        $("#" + n.F_Id + ">td>input").each(function (j, k) {
                            var iserr = $(k).attr("err");
                            if (iserr == "true") {
                                isHasErr = true;
                            }
                        });
                    }
                });

                if (isHasErr) {
                    e.preventDefault();
                    return false;
                }

                $.each(rows, function (i, n) {
                    if (n.F_Id != rowid) {
                        $gridList_Right.jqGrid('saveRow', n.F_Id, null, "clientArray");
                    }
                });
            },
            loadComplete: function (event, ui) {

                $.each(event, function (i, n) {
                    n.TagLocationID = (n.TagLocationID == "" || n.TagLocationID == undefined) ? "0" : n.TagLocationID;
                    var curSelect = $("#gridList_Right tbody tr[id='" + n.F_Id + "'] select");
                    $(curSelect).val(n.SourceInOrderCode).select2();
                });
            },
            customEdit: true,
            //pager: "#gridPager2",
            sortname: 'OverdueDate asc',
            viewrecords: true,
            loadonce: true,
            rowNum: 999999
        });
    }

    function gridList_Top(id) {
        var $gridList_Big = $("#gridList_Big");
        $gridList_Big.dataGrid({
            url: "/PC_OutBoundManage/OutBoundDetail/GetItemList?OutBoundID=" + keyValue,
            postData: { kindID: id },
            height: 300,//$(window).height() - 128,
            colModel: [
                { label: "物料+批号", name: "F_Id", hidden: true, key: true },
                { label: "物料ID", name: "ItemID", hidden: true },
                { label: "单位数量", name: "UnitQty", hidden: true },
                { label: '出库单ID', name: 'OutBoundID', hidden: true },
                { label: '是否预警', name: 'OverdueWarning', hidden: true },
                { label: '物料编码', name: 'ItemCode', width: 60, align: 'left' },
                { label: '物料名称', name: 'ItemName', width: 280, align: 'left' },
                { label: '生产厂家', name: 'Factory', width: 240, align: 'left' },
                { label: '规格', name: 'Spec', width: 100, align: 'left' },
                { label: '批号', name: 'Lot', width: 80, align: 'left' },
                { label: '总库存', name: 'AllQty', width: 60, align: 'left', sortable: true },
                { label: '可用数量', name: 'CanUseQty', width: 60, align: 'left', sortable: true },
                { label: "计量单位", name: "ItemUnitText", width: 55, align: 'left' },
                {
                    label: '失效日期', name: 'OverdueDate', width: 63, align: 'left', formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) return cellvalue.replace("00:00:00", "");
                        else return "";
                    } },
                { label: '容器大类', name: 'ContainerKindName', index:"ContainerKind", width: 55, align: 'center' },
            ],
            multiselect: true,
            styleUI: 'Bootstrap',
            rownumbers: false,
            sortable: false,
            unwritten: false,
            loadComplete: function () {
                //排除已存在右侧的数据
                var dataListMini = $gridList_Big.getRowData();
                var $gridList_Right = $("#gridList_Right");
                var dataListRight = $gridList_Right.getRowData();
                $.each(dataListMini, function (i, n) {
                    $.each(dataListRight, function (j, m) {
                        if (n.F_Id == m.F_Id) {
                            $gridList_Big.delRowData(n.F_Id);
                        }
                    });
                });
            },
            gridComplete: function () {
                /// 预警失效日期
                var dataListIds = $gridList_Big.getDataIDs();
                var dataListMini = $gridList_Big.getRowData();
                for (var i = 0; i < dataListMini.length; i++) {
                    var n = dataListMini[i];
                    if (n.OverdueWarning == 2) {
                        var t = $("#gridList_Big").find("#" + dataListIds[i] + ">td");
                        t.each(function (idx) {
                            if (idx == 14) $(this).css("background-color", "#efaaa7");
                        });
                    }
                    else if (n.OverdueWarning == 1) {
                        var t = $("#gridList_Big").find("#" + dataListIds[i] + ">td");
                        t.each(function (idx) {
                            if (idx == 14) $(this).css("background-color", "#f6f7b6");
                        });
                    }
                }
            },
            //pager: "#gridPager1",
            sortname: 'OverdueDate asc',
            viewrecords: true,
            rowNum: 999999
        });
    }

    function GetInOrderList(cellvalue, options, rowObject) {
        var select = "";
        var option = "<option value=''>无(不限定)</option>";
        $.ajaxWMS({
            url: "/PC_OutBoundManage/OutBoundDetail/GetInOrderList",
            data: { outBoundID: keyValue, itemID: rowObject.ItemID, lot: rowObject.Lot },
            dataType: "json",
            type: "GET",
            async: false,
            success: function (data) {
                if (data.length > 0) {
                    $.each(data, function (i, n) {
                        option = option + "<option value='" + n + "'>" + n + "</option>";
                    });
                }
                select = "<select>" + option + "</select>";
            }
        });
        return select;
    }

    //确定按钮
    function submitForm(fun) {
        //if (!$('#form1').formValid()) {
        //    return false;
        //}
        var postdata = {};
        if ($('[name=__RequestVerificationToken]').length > 0) {
            postdata["__RequestVerificationToken"] = $('[name=__RequestVerificationToken]').val();
        }
        var rows = $("#gridList_Right").jqGrid("getRowData");
        $.each(rows, function (i, n) {
            $("#gridList_Right").jqGrid('saveRow', n.F_Id, null, "clientArray");
        });
        //还原后重新获取数据
        rows = $("#gridList_Right").jqGrid("getRowData");
        var isErr = false;
        var errMsg = "";
        $.each(rows, function (i, n) {
            var curRowErr = false;
            if (n.Qty == "") {
                curRowErr = true;
            }

            if (!$.isNumeric(n.Qty)) { //不是数字
                errMsg = "输入值非数字";
                curRowErr = true;
            }
            var valNum = parseFloat(n.Qty);
            if (valNum <= 0) {  // 非正数
                errMsg = "输入值非正数";
                curRowErr = true;
            }

            if (n.CanUseQty < valNum) { //超出可用库存
                errMsg = "超出可用库存";
                curRowErr = true;
            }

            if (curRowErr) {
                $("#gridList_Right").jqGrid('editRow', n.F_Id)
                $("#gridList_Right").find("#" + n.F_Id + ">td>input").css("border-color", "red");
                $("#gridList_Right").find("#" + n.F_Id + ">td>input").focus();
                isErr = true;
            }

            var select = $("#gridList_Right tbody tr[id='" + n.F_Id + "'] select");
            n.SourceInOrderCode = $(select).select2().val();
        });

        if (isErr) {
            $.modalMsg(errMsg, "warning");
            return;
        }
       
        var jsonStr = JSON.stringify(rows);
        postdata["OutBoundDetailEntityListStr"] = jsonStr;
        $.submitForm({
            url: "/PC_OutBoundManage/OutBoundDetail/SubmitFormList?OutBoundID=" + keyValue,
            param: postdata,
            success: function () {
                //$("#gridList", window.parent.frames[2].document).trigger("reloadGrid");
                fun();
                $.loading(false);
            },
            error: function (data) {
                $.modalMsg(data.message, data.state);
            }
        })
    }


</script>

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-north" style="height:60%">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="物料编码 / 物料名称 / 批号" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div>

            <div class="ui-layout" id="layoutChild" style="height: 348px; width: 100%;">
                <div class="ui-layout-west" style="height:60%">
                    <div id="kindTree"></div>
                </div>
                <div class="ui-layout-center" style="height:60%">
                    <table id="gridList_Big"></table>
                    <div id="gridPager2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-layout-center" style="height:40%">
        <div class="topPanel">
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <button id="toright" type="button" class="btn  btn-primary"><i class="fa fa-angle-down"></i></button>
                            <button id="toleft" type="button" class="btn  btn-primary"><i class="fa fa-angle-up"></i></button>
                            <div class="input-group">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="ui-layout-south" style="height:35%">
        <table id="gridList_Right"></table>
        <div id="gridPager3"></div>
    </div>
</div>
