@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/PC_CountManage/Count/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.checkLogin(data);
                    $("#form1").formSerialize(data);
                    $("#State").attr("disabled", "disabled");
                    if ($("#State").val() != 'New') {
                        $("#form1").find('.form-control,select,input,ckbox').attr('disabled', 'readonly');
                    }
                }
            });
        }
        else {
            $.ajax({
                url: "/PC_CountManage/Count/GenNum",
                data: { ruleCode: "CountRule" },
                dataType: "json",
                async: false,
                success: function (data) {
                    $.checkLogin(data);
                    var dataSer = { "CountCode": data.Code, "State": "New", "AreaType": "Tunnel" };
                    $("#form1").formSerialize(dataSer);
                    $("#State").attr("disabled", "disabled");
                    $("#AreaType").attr("disabled", "disabled");
                    $("#IsOpen").attr("checked", "checked");
                }
            });
        }
    });

    function initControl() {
        $("#AreaType").bindSelect({
            url: "/SystemManage/ItemsData/GetDicList?entityName=T_Count&fieldName=AreaType",
            id: "F_ItemCode",
            text: "F_ItemName"
        });

        $("#ERPHouseCode").bindSelect({
            url: "/PC_CountManage/Count/GetERPWarehouseList",
            id: "ERPHouseCode",
            text: "ERPHouseName",
            search: true
        });

        $("#State").bindSelect({
            url: "/SystemManage/ItemsData/GetDicList?entityName=T_Count&fieldName=State",
            id: "F_ItemCode",
            text: "F_ItemName"
        });
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/PC_CountManage/Count/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function (data) {
                $.modalAlert(data.message, data.state);
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            },
            error: function (data) {
                $.modalMsg(data.message, data.state);
            }
        })
    }
</script>

<form id="form1">

    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">盘点单号</th>
                <td class="formValue">
                    <input id="CountCode" name="CountCode" readonly="readonly" type="text" class="form-control required" placeholder="请输入盘点单编码" />
                </td>
                <th class="formTitle">来源单号</th>
                <td class="formValue">
                    <input id="RefOrderCode" name="RefOrderCode" type="text" class="form-control" placeholder="请输入来源单号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">区域类型</th>
                <td class="formValue">
                    <select id="AreaType" name="AreaType" class="form-control required">
                        <option value="">==请选择==</option>
                    </select>
                </td>
                <th class="formTitle">ERP仓库</th>
                <td class="formValue">
                    <select id="ERPHouseCode" name="ERPHouseCode" class="form-control required">
                        <option value="">==请选择==</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">盘点单状态</th>
                <td class="formValue">
                    <select id="State" name="State" class="form-control required">
                        <option value="">==请选择==</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">备注</th>
                <td class="formValue" colspan="3">
                    <textarea id="Remark" name="Remark" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">选项</th>
                <td class="formValue">
                    <div class="ckbox">
                        <input id="IsOpen" name="IsOpen" type="checkbox"><label for="IsOpen">是否明盘</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>