<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net48" />
  <package id="jQuery" version="1.6.4" targetFramework="net48" />
  <package id="LightGBM" version="2.3.1" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.JS" version="2.4.3" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.SystemWeb" version="2.4.3" targetFramework="net48" />
  <package id="Microsoft.ML" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.CpuMath" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.FastTree" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.ImageAnalytics" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.LightGbm" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.Mkl.Components" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.Mkl.Redist" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.Recommender" version="0.19.0" targetFramework="net48" />
  <package id="Microsoft.ML.TensorFlow" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.TimeSeries" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.ML.Vision" version="1.7.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="NumSharp.Lite" version="0.1.8" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Protobuf.Text" version="0.4.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.CodeDom" version="4.4.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
  <package id="System.Threading.Channels" version="4.7.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="TensorFlow.NET" version="0.20.1" targetFramework="net48" />
</packages>